* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  html {
    overflow-x: hidden;
    width: 100vw;
  }
  
  .home,
  .learning-paths,
  .articles,
  .games,
  .checklists,
  .wordsearch,
  .gophishpage {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .loading-div {
    position: absolute;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;

  }


  /* HOME PAGE */

  .home-content-h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
  }

  .carousel-div{
    margin-bottom: 5em;
  }
  
  .view-all-link {
    color:#878787;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
  }

  .view-all-link:hover {
    color:#555555;
  }

  .view-all-link:visited {
    color:#878787;
  }

  .learning-paths {
    /* background-image: url('/images/img-1.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .articles {
    /* background-image: url('/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .games {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .checklists {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .wordsearch {
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    max-width: 600px;
    padding-top: 30px;
  }

  .gophishpage {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  /* Content Display pages */

  .content-h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .content-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    max-width: 700px;
  }

  /* Content View Pages */ 

  .view-page {
    width:100vw;
    height: fit-content;
    background-color: #ffffff;
    padding: 1em;
  }
  
  .view-page-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
  }
  
  .view-page-description {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
  }
  
  .view-page-text {
    text-align: left;
    margin-top: .5em, 1em;
    padding: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    line-height: 35px;
  }
  
  .view-page-img {
    margin: 0 auto;
    padding: 1em;
    width: 60vw;
    min-width: 300px;
  }
  
  .view-page-img-div {
    margin: 2em auto;
    text-align: center;
  }
  
  .view-page-img-h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: .5em;
  }

  .view-page-h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: .5em;
    padding-left: .5em;
    text-align: left;
  }

  .view-page-description {
    margin-left: 12.5%;
  }

  .article-text-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin:0 .5em 1em .5em;
    overflow-x: hidden;
  }

  .article-text-content p {
    padding: 2.5px;
  }

  .cards__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 24px;
    margin-bottom: 3em;
  }

  .dark-btn {
    background-color:#1f1f28 ;
    border-radius: 5px;
    border: none;
    color: #e3e3e3;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em 1em;
    padding: 10px 15px;
  }

  .view-page-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #787878;
    margin-top: -12.5px;
  }

  .content-info{
    margin-top: 25px;
    padding-left: 25px;
  }

  .no-content-h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .learning-path-content-div {
    margin: 4em 1em;
  }

  .learning-path-content-desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  }

  .learning-path-h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  }

  .lp-img {
    margin: 1em;
    text-align: center;
    width: 30%;
    max-width: 600px;
    min-width: 100px;
  }

  .footer-div {
    color: white;
    background-color: #1f1f28;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: none;
    padding: 3em 1em;
  }

   .footer-name-logo {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    min-width: 200px;
    align-items: center;
  }

  .footer-link-items {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    width: 500px;
  }

  .link-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .link-items-col {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    width: 10vw;
    max-width: 75px;
    min-width: 50px;
    margin: none;
  } 

  @media screen and (max-width: 798px) {
  
    .view-page-title {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: larger;
    }

    .cards__items {
      flex-direction: column;
      align-items: center;
    }

  }